@charset "utf-8";
/* CSS Document */
#titulo{
 background-color: #ff4c68;
}
#navbar{
 background-color: #ff4c68;
}
h1 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 font-size: 3.5rem;
 line-height: 1.5;
}